* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    color: #0A4879;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 40px 0 20px 0;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.common {
    border-radius: 10px;
    display: inline-block;
    border: 3px solid #0A4879;
    margin: 20px 0;
    background-color: #BCDCF1;
}

.pass {
    padding: 10px 30px;
}

span {
    font-weight: bold;
}

.btn {
    color: #0A4879;
    display: block;
    margin-left: 5px;
    margin-bottom: 40px;
    padding: 5px 15px;
}

.btn:hover {
    box-shadow: white 0px 0px 0px 3px, #0A4879 0px 0px 0px 6px;
    font-weight: bold;
}